:root {
    --background-color: #26292e;
    --second-color: #3d414a;
    --searchresult-color: #1b1d22;
    --popup-color: #0e0f12;
    --text-color: white;
}  

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.aanirivi {
    background-color: var(--second-color); 
}

.selectedPage {
    background-color: var(--second-color);
    color: var(--text-color);
    border-color: var(--text-color);
    border-width: 2px;
}

form + #hakutulokset {
    background-color: var(--second-color); 
}

label[for=info], label[for=darkmodeToggle] {
    background-color: var(--second-color);
    color: var(--text-color);
}

label[for=darkmodeToggle] > span {
    bottom: 0;
    top: -0.3em;
    right: 0.2em;
    font-size: 4.5em;
}

#darkmodeToggle:checked ~ span {
    color: var(--text-color);
}

#darkmodeToggle:checked + label[for=darkmodeToggle] {
    background-color: var(--second-color);
}

label[for=darkmodeToggle]:has(input[type="checkbox"]:checked){
    background-color: var(--second-color);
}  

#info {
    color: var(--text-color);
}

#popup {
    background-color: var(--popup-color);
}

#closePopup {
    color: var(--text-color);
}

.searchresult {
    background-color: var(--searchresult-color);
}