#hakupalkki {
    display: none;
}

#aanet {
    width: 100%;
}

.aanirivi {
    width: 24%;
    zoom: 120%;
}

#downButtons {
    width: 48%;
}

#preset > input, #file-input {
    font-size: 1.3em;
}

#preset {
    width: 50%;
}