#hakupalkki {
    display: none;
}

#aanet {
    width: 100%;
}

.aanirivi, .aanirivi2 {
    width: 24%;
}

#downButtons {
    width: 95%;
}

#preset > input, #file-input {
    font-size: 1.2em;
}

#preset {
    width: 50%;
}