body {
    background-color: aliceblue;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#aanet {
    width: 45%;
    float: left;
}

.aanirivi {
    width: 55%;
    float: left;
    background-color: lightblue; 
    margin: 0.3em; 
    border-radius: 15px;
}

canvas {
    border-radius: 5px;
}

.aanirivi_tumma {
    background-color: #3d414a;
}

#preset {
    width: 25%;
    height: 25px;
    float: left;
    margin-top: 5px;
}

input[type="button"] {
    cursor: pointer;
}

.label {
    display: inline-block;
    width: 80%;              
    margin-right: 0.5em;      
    margin-left: 3em;         
    margin-bottom: 0;       
    position: relative;
}

.sideButton {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    position: relative;
    bottom: 0.8em;
    border-radius: 5px;
    font-size: 16px;
}

audio {    
    position: relative;
    margin-left: 0.5em;
}

form + #hakutulokset {
    display: block;
    width: 100%;    
    margin-top: 1em;
    background-color: lightblue; 
    max-width: 800px; 
}

.hakupalkki{
    float: right; 
    width: 50%;
}

.nappiValittuna {
    color:white;
    background-color: rgb(0, 131, 218);
}

.loop, #darkmodeToggle {
    appearance: none;
    margin: 0;
    padding: 0;
}

label[for] {
    width: min-content;
}

span {
    position: relative;
    bottom: 0.1em;
    font-size: 3em;
    color:grey;
    cursor: pointer;
}

.loop:checked ~ span {
    color:black;
}

#hakutulokset{
    height: 82.5vh;
    overflow-y: auto;
    border-radius: 15px;
}

#downButtons {
    margin-top: 10px;
    margin-left: 0.5%;
    width: 38%;
}

#downButtons > input {
    float: right;
    margin-top: 5px;
}

#info {
    background-color: transparent;
    border: none;
    font-size: 4em;
    position: relative;
    bottom: 0.1em;
}

label[for=info], label[for=darkmodeToggle] {
    position: absolute;
    left: 95%;
    top: 2vh;
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 35px;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
}

label[for=darkmodeToggle] {
    left: 91%;
}

label[for=darkmodeToggle] > span {
    position: absolute;
    color: black;
    font-size: 3.5em;
    bottom: 0.1em;
    right: 0.1em;
}

#darkmodeToggle:checked ~ span {
    color: white;
}

#darkmodeToggle:checked + label[for=darkmodeToggle] {
    background-color: #3d414a;
}

label[for=darkmodeToggle]:has(input[type="checkbox"]:checked){
    background-color: #3d414a;
}  

#delete {
    font-size: 4em;
    position: absolute;
    left: 88%;
    top: 1vh;
}

#search {
    border-radius: 5px;
}

#popup {
    position: absolute;
    background-color: #6c9daf;
    width: 30vw;
    height: 40vh;
    left: calc(35vw - 2%);
    bottom: 30vh;
    padding: 2%;
    border-radius: 35px;
    display: none;
}

#closePopup {
    position: absolute;
    right: 4%;
    top: 4%;
    font-size: 2em;
    background-color: transparent;
    border: none;
}

.searchresult {
    cursor: grab;
}

@media (max-width: 1920px) {
    .aanirivi {
        zoom: 95%;
        width: 41%;
        height: 20%;
    } 
    .sideButton {
        position: relative;
        bottom: 42px;
    }
    .aanirivi > canvas {
        position: relative;
        right: 41px;
        top: 30px;
    }
    .aanirivi > label:first-child {
        position: relative;
        left: 5px;
        top: 12px;
    }
}

@media (max-width: 1680px) {
    .aanirivi {
        zoom: 58%
    } 
    #preset {
        width: 30%;
    } 
}

